<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="topnav">
   <a routerLink="/admin-login" routerLinkActive="active" style="float: left;">Admin</a> 
  <a routerLink="/principal-login" routerLinkActive="active">Principal</a>
    <!-- <a  href="#home">Home</a>
    <a href="#news">News</a> -->
    <!-- <a routerLink="/register" routerLinkActive="active">Register</a> -->
    <a routerLink="/student-login" routerLinkActive="active">Login</a>
  </div>
  
  
  
<section class="login-block">
     <div class="container">
	<!-- <div class="row">
		<button mat-stroked-button (click)="openSnackBar()">Show snack-bar</button>

</div> -->
<p >
  <h1>Welcome To SPCL Infotech Services PVT Ltd</h1>
  <h5>SPCL Infotech Services Pvt Ltd.is a faithful, honoured and trusted IT organisation enabling services, products and solutions to our clients which are spread over different domains in all over the world.</h5>
  <ul >
 <li> Use Case For Augmented Reality In Design</li>
 <li> Implications Of Thinking In Blocks Instead Of Blobs</li>
 <li> An Extensive Guide To Progressive Web Applications</li>
 <li> Strategies For Headless Projects With Structured</li>

</ul>
</div> 

</section>