<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Forgot password ---------->
<ng-template #content let-modal>
  <div class="modal-header" style="background-color: lightsteelblue;">
    <h4 class="modal-title" id="modal-basic-title" >Reset Password</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" >
   
    <form *ngIf="show">
        <div class="card-card">
            <div class="card-body">
              <form *ngIf="show2" [formGroup]="form"  #userEmail  (ngSubmit)="UserEmail()" >
                <div class="form-group">

                  <label ><b><i>Email</i></b></label>
                  <input type="text" formControlName="email"  class="form-control" placeholder="Enter Email.."  >
                </div>
                <button type="submit" *ngIf="show2" class="btn btn-login float-right">Send OTP</button>&nbsp;
                <!-- <button type="submit" class="btn btn-login float-right" value="Close" (click)="modal.dismiss('Cross click')">Close</button> -->
            <!-- <input style="background-color:lightgoldenrodyellow;" type="submit" value="submit"> -->
                   <!-- <input style="background-color:#DE6262; color:aliceblue;" type="submit" value="Close" (click)="modal.dismiss('Cross click')"> -->
              </form>
            </div>
          </div>
     
    </form>
    <form *ngIf="!show">
      <div class="card-card">
          <div class="card-body">
            <form [formGroup]="form"  #userEmail  (ngSubmit) = "getOtp()" >
              <div class="form-group">

                <label ><b><i>OTP</i></b></label>
                <input id="partitioned" formControlName="otp" type="text" maxlength="6" />
              </div>
              <button type="submit"  class="btn btn-login float-right">Confirm</button>&nbsp;
              <!-- <button type="submit" class="btn btn-login float-right" value="Close" (click)="modal.dismiss('Cross click')">Close</button> -->
          <!-- <input style="background-color:lightgoldenrodyellow;" type="submit" value="submit"> -->
                 <!-- <input style="background-color:#DE6262; color:aliceblue;" type="submit" value="Close" (click)="modal.dismiss('Cross click')"> -->
            </form>
          </div>
        </div>
   
  </form>
  <form *ngIf="show1">
    <div class="card-card">
        <div class="card-body">
          <form [formGroup]="form"  (ngSubmit) = "newPass()" >
            <div class="form-group">

              <label ><b><i>Password</i></b></label>
              <input  formControlName="password" type="password"  />
            </div>
            <div class="form-group">

              <label ><b><i>Confirm Password</i></b></label>
              <input  formControlName="confirmpassword" type="password"  />
            </div>
            <button type="submit" class="btn btn-login float-right">Confirm</button>&nbsp;
            <!-- <button type="submit" class="btn btn-login float-right" value="Close" (click)="modal.dismiss('Cross click')">Close</button> -->
        <!-- <input style="background-color:lightgoldenrodyellow;" type="submit" value="submit"> -->
               <!-- <input style="background-color:#DE6262; color:aliceblue;" type="submit" value="Close" (click)="modal.dismiss('Cross click')"> -->
          </form>
        </div>
      </div>
 
</form>
  
  </div>
  <div class="modal-footer" style="background-color: lightsteelblue;">
  </div>
  </ng-template>

<!------ Include the above in your HEAD tag ---------->

  
  
  

<section class="login-block">
    <div class="container">
	<div class="row">
		<div class="col-md-4 login-sec" >
		    <h2 class="text-center">Principal Login</h2>
		    <form [formGroup]="form" #userLogin (ngSubmit)="UserLogin()" class="login-form">
  <div class="form-group">
    <label for="exampleInputEmail1" class="text-uppercase">Email</label>
    <input type="text" formControlName="email" class="form-control" placeholder="" >
   
     
    
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1" class="text-uppercase">Password</label>
    <input type="password" formControlName="password" class="form-control" placeholder="">
  </div>
  
  
  
    <div class="form-check">
    <label class="form-check-label">
      <!-- <input type="checkbox" class="form-check-input"> -->
      <!-- <small>Remember Me</small> -->
    </label>
  <button type="submit" value="submit"class="btn btn-login float-right">Log in</button>
  </div>
  
</form><br><br> 
<div align="center">
  
        
        <a routerLink="/principal-register" routerLinkActive="active">Create a new Account</a><br>
        <button class="btn btn-light" mat-raised-button (click)="open(content)">Forgot Password</button>
</div>
<div class="copy-text">Created with <i class="fa fa-heart"></i> by SPCL</div>
		</div>
		<div class="col-md-8 banner-sec">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                 <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                  </ol>
            <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <img class="d-block img-fluid" src="https://images.pexels.com/photos/3861972/pexels-photo-3861972.jpeg?cs=srgb&dl=pexels-thisisengineering-3861972.jpg&fm=jpg" alt="First slide">
     
    </div>
  
  
            </div>	   
		    
		</div>
    </div>
    </div>
</div>
</section>